<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<gazebo reference="Waist">
  <material>Gazebo/DarkGrey</material>
</gazebo>

<xacro:if value="${COGIMON_RIGHT_LEG}" >
<gazebo reference="RHipMot">
  <material>Gazebo/Green</material>
</gazebo> 
</xacro:if> 

<xacro:if value="${COGIMON_LEFT_LEG}" >
<gazebo reference="LHipMot">
  <material>Gazebo/Green</material>
</gazebo>
</xacro:if> 


</robot>
