<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:if value="${COGIMON_RIGHT_LEG}"> 
<rtt-gazebo reference="right_leg">
       <controller type="JointPositionCtrl">
              <gains D="12.0" I="2." P="7500." reference="RHipSag"/>
              <gains D="10.0" I="0." P="4500." reference="RHipLat"/>
              <gains D="10." I="0." P="4000." reference="RHipYaw"/>
              <gains D="5.0" I="0." P="3500." reference="RKneePitch"/>
              <gains D="7.0" I="0." P="5500." reference="RAnklePitch"/>
              <gains D="5.0" I="0." P="2500." reference="RAnkleRoll"/>
       </controller>
       <controller type="JointImpedanceCtrl">
              <gains reference="RHipSag" stiffness="300." damping="30."/>
              <gains reference="RHipLat" stiffness="300." damping="30."/>
              <gains reference="RHipYaw" stiffness="300." damping="30."/>
              <gains reference="RKneePitch" stiffness="300." damping="30."/>
              <gains reference="RAnklePitch" stiffness="300." damping="30."/>
              <gains reference="RAnkleRoll" stiffness="300." damping="30."/> 
       </controller>
       <controller type="JointTorqueCtrl"/>
</rtt-gazebo>
</xacro:if>

<xacro:if value="${COGIMON_LEFT_LEG}"> 
<rtt-gazebo reference="left_leg">
       <controller type="JointPositionCtrl">
              <gains D="12.0" I="2." P="7500." reference="LHipSag"/>
              <gains D="10.0" I="0." P="4500." reference="LHipLat"/>
              <gains D="10." I="0." P="4000." reference="LHipYaw"/>
              <gains D="5.0" I="0." P="3500." reference="LKneePitch"/>
              <gains D="7.0" I="0." P="5500." reference="LAnklePitch"/>
              <gains D="5.0" I="0." P="2500." reference="LAnkleRoll"/>
       </controller>
       <controller type="JointImpedanceCtrl">
              <gains reference="LHipSag" stiffness="300." damping="30."/>
              <gains reference="LHipLat" stiffness="300." damping="30."/>
              <gains reference="LHipYaw" stiffness="300." damping="30."/>
              <gains reference="LKneePitch" stiffness="300." damping="30."/>
              <gains reference="LAnklePitch" stiffness="300." damping="30."/>
              <gains reference="LAnkleRoll" stiffness="300." damping="30."/> 
       </controller>
       <controller type="JointTorqueCtrl"/>
</rtt-gazebo>
</xacro:if>

</robot>
