<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ball_endeff">


<xacro:if value="${COGIMON_RIGHT_ARM}">
<!-- LINKS -->
<link name="RBall">
    <inertial>
      <origin xyz="${-1.0072498e-02*mmTom} ${3.7590658e-02*mmTom} ${1.9772332e+01*mmTom}" rpy="0 0 0"/>
      <mass value="1.27"/>
      <inertia ixx="${2.3061092e+03*mm2Tom2}"  ixy="${2.9181758e-01*mm2Tom2}"  ixz="${-2.1246684e-01*mm2Tom2}" iyy="${2.3053155e+03*mm2Tom2}" iyz="${7.9290978e-01*mm2Tom2}" izz="${3.0675616e+03*mm2Tom2}" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry name="RBall_visual">
        <mesh filename="package://cogimon_urdf/meshes/BallHand.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="grey"/>
   </visual>
   <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry name="RBall_collision">
        <mesh filename="package://cogimon_urdf/meshes/simple/BallHand.stl" scale="0.001 0.001 0.001" />
      </geometry>
   </collision>
</link>

<link name="r_wrist"/>

<link name="r_ball_tip"/>

<joint name="r_wrist_joint" type="fixed">
       <parent link="RWrMot3"/>
       <child link="r_wrist"/>
       <origin xyz="0 0 0" rpy="0 0 0" />
</joint>

<joint name="r_handj" type="fixed">
<parent link="r_wrist"/>
<child link="RBall"/>
<origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<joint name="r_ball_tipj" type="fixed">
<parent link="RBall"/>
<child link="r_ball_tip"/>
<origin xyz="0 0 -0.07" rpy="0 0 0"/>
</joint>

<link name="TCP_R"/>

<joint name="TCP_R_joint" type="fixed">
       <parent link="r_ball_tip"/>
       <child link="TCP_R"/>
       <origin xyz="0 0 0" rpy="0 ${PI} 0" />
</joint>
  

</xacro:if>

<xacro:if value="${COGIMON_LEFT_ARM}">
<link name="LBall">
    <inertial>
      <origin xyz="${-1.0072498e-02*mmTom} ${3.7590658e-02*mmTom} ${1.9772332e+01*mmTom}" rpy="0 0 0"/>
      <mass value="1.27"/>
      <inertia ixx="${2.3061092e+03*mm2Tom2}"  ixy="${2.9181758e-01*mm2Tom2}"  ixz="${-2.1246684e-01*mm2Tom2}" iyy="${2.3053155e+03*mm2Tom2}" iyz="${7.9290978e-01*mm2Tom2}" izz="${3.0675616e+03*mm2Tom2}" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry name="RBall_visual">
        <mesh filename="package://cogimon_urdf/meshes/BallHand.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="grey"/>
   </visual>
   <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry name="RBall_collision">
        <mesh filename="package://cogimon_urdf/meshes/simple/BallHand.stl" scale="0.001 0.001 0.001" />
      </geometry>
   </collision>
</link>

<link name="l_wrist"/>

<link name="l_ball_tip"/>

<joint name="l_wrist_joint" type="fixed">
       <parent link="LWrMot3"/>
       <child link="l_wrist"/>
       <origin xyz="0 0 0" rpy="0 0 0" />
</joint>

<link name="TCP_L"/>

<joint name="TCP_L_joint" type="fixed">
       <parent link="l_ball_tip"/>
       <child link="TCP_L"/>
       <origin xyz="0 0 0" rpy="0 ${PI} 0" />
</joint>
<!-- JOINTS -->
  


<joint name="l_handj" type="fixed">
<parent link="l_wrist"/>
<child link="LBall"/>
<origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<joint name="l_ball_tipj" type="fixed">
<parent link="LBall"/>
<child link="l_ball_tip"/>
<origin xyz="0 0 -0.07" rpy="0 0 0"/>
</joint>


</xacro:if>


</robot>
