<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:property name="PI" value="3.14159265359" />
<xacro:property name="PI_2" value="1.57079632679" />
<xacro:property name="SF" value="0.03937" /> <!-- Scale factor for meshes -->
<xacro:property name="cos_20" value="0.93969262078" />
<xacro:property name="sin_20" value="0.34202014332" />

<link name ="Head">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${wcf*2.0}"/>
      <inertia ixx="${(wcf*2.0*0.1*0.1)/12}"  ixy="${wcf*0.0}"  ixz="${wcf*0.0}" iyy="${(wcf*2.0*0.1*0.1)/12}" iyz="${0.0}" izz="${(wcf*2.0*0.1*0.1)/12}" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 ${PI_2}"/>
      <material name="dark_grey"/>
      <geometry name="Head_visual">
        <mesh filename="package://cogimon_urdf/meshes/Head.STL" scale="0.1 0.1 0.1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 ${PI_2}"/>
      <geometry name="Head_collision">
        <mesh filename="package://cogimon_urdf/meshes/simple/Head.STL" scale="0.1 0.1 0.1" />
      </geometry>             
    </collision>
  </link>

<joint name="neck_fixed" type="fixed">
    <parent link="DWYTorso"/>
    <child link="Head"/>
    <origin xyz="0 0 0.35" rpy="0 0 0" />
</joint>

</robot>
