<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cogimon">
    
    <xacro:include filename="$(find cogimon_urdf)/urdf/cogimon_config.urdf.xacro" />
    
    <group name="base">
        <link name="Waist"/>
    </group>

<xacro:if value="${COGIMON_LEFT_LEG}">    
    <group name="left_leg">
        <chain base_link="Waist" tip_link="LFoot"/>
    </group>
</xacro:if>
<xacro:if value="${COGIMON_RIGHT_LEG}">
    <group name="right_leg">
        <chain base_link="Waist" tip_link="RFoot"/>
    </group>
</xacro:if>

  <group name="legs">
<xacro:if value="${COGIMON_LEFT_LEG}">
    <group name="left_leg"/>
</xacro:if>
<xacro:if value="${COGIMON_RIGHT_LEG}">
    <group name="right_leg"/>
</xacro:if>
  </group>

    <group name="chains"> <!--THIS HAS TO BE THE LAST GROUP IN THE FILE -->
<xacro:if value="${COGIMON_LEFT_LEG}">
        <group name="left_leg"/>
</xacro:if>
<xacro:if value="${COGIMON_RIGHT_LEG}">
        <group name="right_leg"/>
</xacro:if>
    </group>

<xacro:if value="${COGIMON_OROCOS_GAZEBO}">
   <xacro:include filename="$(find cogimon_urdf)/urdf/gazebo/rtt_gazebo.gazebo.xacro" /> 
</xacro:if> 
</robot>
